<div *ngIf="messageService.getMessages().length">
  <h2>Messages</h2>

  <mat-accordion *ngIf="messageService.getMessages().length">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title> Messages </mat-panel-title>
        <mat-panel-description>
          {{ messageService.getMessages().length }} record(s)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <button color="warn" mat-raised-button (click)="messageService.clear()">
          Clear Messages
        </button>
      </p>
      <mat-list>
        <mat-list-item *ngfor="let message of messageService.getMessages()">

          {{ message }}

      </mat-list-item>
    </mat-list>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
</div>
