.add-button{
  position: absolute;
  right: 80px;
  top: 130px;
}
.upload-button{
  position: absolute;
  right: 20px;
  top: 130px;
}
.mat-row:hover{
  cursor: pointer;
  background:whitesmoke
}
.mat-column-id{
  max-width: 60px;

}

.mat-column-actions{
  border-left:1px solid currentColor;
  max-width: 60px;
  padding-left: 16px;
}
.mat-column-genre{
  border-left:1px solid currentColor;
  max-width: 60px;
  padding-left: 16px;

}

.mat-select-value {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  text-align: center;
}
