<h2>My Heroes</h2>
<div>
  <button class="add-button" color="accent" mat-fab routerLink="new" >
    <mat-icon>add</mat-icon>

  </button>

  <app-hero-search [label] ="'Hero to delete'" (selected)="onSelected($event)"></app-hero-search>
</div>

<div>
  <mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>

    <!-- Header and Row Declarations -->
     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row  [matTooltip]="'Description of ' + row.name"
     *matRowDef="let row; columns: displayedColumns"
     [routerLink]="['/heroes',row.id]"
     #matRow
     ></mat-row>

    <!-- Id Definition -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id }} </mat-cell>
    </ng-container>

    <!-- Name Definition -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name }}  </mat-cell>
    </ng-container>

    <!-- Genre Definition -->
    <ng-container matColumnDef="genre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
      <mat-cell  *matCellDef="let row"> {{row.genre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Delete this item" (click)="delete(row); $event.stopPropagation()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

  </mat-table>
  <mat-paginator
                #paginator
                [length]="heroes.length"
                [pageSize]="6"
                [pageSizeOptions]="[3,6, 9]"
                aria-label="Select page"
                [showFirstLastButtons]="true"

                >
  </mat-paginator>
</div>
